{% extends "comic_app/base.html" %}
{% load static %}
{% block content %}
<style>
    @media (max-width: 768px) {
      form {
        width: 90%;
        margin: 0 auto;
      }
      form input, form textarea, form select {
        width: 100%;
        box-sizing: border-box;
      }
      h1 {
        font-size: 24px;
        text-align: center;
      }
    
    }
    </style>
<div class="form-container">
  <h1>ログイン</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">ユーザー名</label>
      <input type="text" name="username" id="id_username" required>
    </div>
    <div class="form-group">
      <label for="id_password">パスワード</label>
      <input type="password" name="password" id="id_password" required>
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
  </form>

  <!-- <p>アカウントをお持ちでないですか？ <a href="{% url 'signup' %}">新規登録はこちら</a></p> -->
  <p>___________________________________</p>
</div>
{% endblock %}
